/* Pour s'assurer que toute la hauteur de l'écran est utilisée */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Conteneur principal de l'app en colonne */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Le bloc entre le header et le footer doit prendre tout l'espace restant */
.content-wrap {
  flex: 1;
  padding: 20px; /* facultatif */
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.footer {
  background-color: #f6f4f4;
  color: #0a0909;
  text-align: center;
  padding: 12px;
  margin-top: auto;
  width: 100%;
}


@media (min-width: 768px) {
  .footer {
    font-size: 15px;
    padding: 20px 32px;
  }
}

.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.admin-content {
  flex-grow: 1;
  padding: 80px 24px 24px 24px; /* espace sous AppBar */
  overflow-y: auto;
  min-height: 0; /* important pour ne pas casser flex */
}



.badge {
  padding: 4px 8px;
  min-width: 80px;  
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}

.badge-order {
  padding: 4px 8px; 
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}
.in-stock {
  background-color: #4CAF50;
}
.low-stock {
  background-color: #FFC107;
}
.out-stock {
  background-color: #F44336;
}


